<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>GoodGame - Disco</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" id="active-theme" href="theme.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="../styles/game.css">
    <link rel="stylesheet" type="text/css" href="../../themes/default/theme.css">
  </head>
  <body style="margin:0;overflow:hidden">
    <header id="titlebar">
      <div id="drag-region">
        <div id="window-title">
          <span>GoodGame Disco Reborn</span>
        </div>
        <div id="menu-controls">
          <div class="button" id="menu-button" title="Menu">
            <img src="../assets/buttons/menu.png" class="icon" draggable="false">
          </div>
          <div id="menu" style="display:none">
            <a id="menu-items-title" draggable="false" class="text">Discover games</a>
            <div class="menu-item" title="Create your own Café!">
              <img src="../assets/buttons/cafe_logo.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text">Café</a>
            </div>
            <div class="menu-item" title="Manage your Disco!">
              <img src="../assets/buttons/disco_logo.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text">Disco</a>
            </div>
            <div class="menu-item" title="Customize your shirts!">
              <img src="../assets/buttons/fashion_logo.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text">Fashion</a>
            </div>
            <div id="menu-others" class="">
              <a id="menu-items-title" draggable="false" class="text">Other</a>
              <br>
              <div class="menu-item-small" id="reload-button" title="Refresh the current page (CTRL + R)">
                <img src="../assets/buttons/reload_page.png" class="icon" draggable="false">
                <a id="menu-items-text" draggable="false" class=""></a>
              </div>
              <div class="menu-item-small" id="password-manager-button" title="Store your passwords">
                <img src="../assets/buttons/password.png" class="icon" draggable="false">
                <a id="menu-items-text" draggable="false" class=""></a>
              </div>
              <div class="menu-item-small" id="settings-button" title="Change the app settings">
                <img src="../assets/buttons/settings.png" class="icon" draggable="false">
              </div>
              <div class="menu-item" id="support-button" title="Contact GGReborn support">
                <img src="../assets/buttons/discord.png" class="icon" draggable="false">
                <a id="menu-items-text" draggable="false" class="text">Support</a>
              </div>
            </div>
            <!--Set the version text from script-->
            <div class="text" id="app-version">Alpha Testing 0.0.4</div>
          </div>
        </div>
        <div id="window-controls">
          <div class="button" id="min-button" title="Minimize">
            <img src="../assets/buttons/minimize.png" class="icon" draggable="false">
          </div>
          <div class="button" id="close-button" title="Close :(">
            <img src="../assets/buttons/close.png" class="icon" draggable="false">
          </div>
        </div>
      </div>
    </header>
    <!--Missing game url-->
    <webview id="game" src="https://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" autosize="on" style="width:100%;height:100%" plugins></webview>
    <script>
      let titlebar_height = getComputedStyle(document.documentElement).getPropertyValue('--height');

      function resizeFlashObject() {
        var game = document.getElementById('game');
        var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        game.style.width = windowWidth + 'px';
        game.style.height = windowHeight - titlebar_height.slice(0, -2) + 'px';
      }
      window.addEventListener('resize', function() {
        resizeFlashObject();
      });
      // Initial resizing
      resizeFlashObject();
      require('../scripts/menu_renderer.js')
      require('../scripts/renderer.js')
    </script>
  </body>
</html>