<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title id="app-title"></title>
  <!--SET BY CURRENT WEBPAGE-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" id="active-theme" href="">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="../styles/game.css">
</head>

<body style="margin:0;overflow:hidden">
  <header id="titlebar">
    <div id="drag-region">
      <img src="" id="titlebar-image"></img>
      <div id="window-title">
        <span></span>
        <!--SET BY CURRENT WEBPAGE-->
      </div>
      <div id="menu-controls">
        <div class="button" id="menu-button" locale="menu-button-tooltip" title="">
          <img src="../assets/buttons/menu.png" class="icon" draggable="false">
        </div>
        <div id="menu" style="display:none">
          <a id="menu-items-title" draggable="false" class="text" locale="menu-discover"></a>
          <div class="menu-item" id="play-cafe-game-button" locale="menu-cafe-button-tooltip" title="">
            <img src="../assets/buttons/cafe_logo.png" class="icon" draggable="false">
            <a id="menu-items-text" draggable="false" class="text">Café</a>
          </div>
          <div class="menu-item" id="play-disco-game-button" locale="menu-disco-button-tooltip" title="">
            <img src="../assets/buttons/disco_logo.png" class="icon" draggable="false">
            <a id="menu-items-text" draggable="false" class="text">Disco</a>
          </div>
          <div class="menu-item" id="play-fashion-game-button" locale="menu-fashion-button-tooltip" title="">
            <img src="../assets/buttons/fashion_logo.png" class="icon" draggable="false">
            <a id="menu-items-text" draggable="false" class="text">Fashion</a>
          </div>
          <div id="menu-others" class="">
            <a id="menu-items-title" draggable="false" class="text" locale="menu-other"></a>
            <br>
            <div class="menu-item" id="load-homepage-button" locale="menu-homepage-button-tooltip" title="">
              <img src="../assets/buttons/homepage_icon.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text" locale="menu-homepage"></a>
            </div>
            <div class="menu-item" locale="menu-news-button-tooltip" title="">
              <img src="../assets/buttons/news.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text" locale="menu-news"></a>
            </div>
            <div class="menu-item-small" id="reload-button" locale="menu-reload-button-tooltip" title="">
              <img src="../assets/buttons/reload_page.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class=""></a>
            </div>
            <div class="menu-item-small" id="account-manager-button" locale="menu-accounts-button-tooltip" title="">
              <img src="../assets/buttons/password.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class=""></a>
            </div>
            <div class="menu-item-small" id="settings-button" locale="menu-settings-button-tooltip" title="">
              <img src="../assets/buttons/settings.png" class="icon" draggable="false">
            </div>
            <div class="menu-item" id="support-button" locale="menu-support-button-tooltip" title="">
              <img src="../assets/buttons/discord.png" class="icon" draggable="false">
              <a id="menu-items-text" draggable="false" class="text" locale="menu-support"></a>
            </div>
          </div>
          <div class="text" id="app-version"></div>
        </div>
      </div>
      <div id="window-controls">
        <div class="button" id="min-button" locale="minimize" title="">
          <img src="../assets/buttons/minimize.png" class="icon" draggable="false">
        </div>
        <div class="button" id="close-button" locale="close" title="">
          <img src="../assets/buttons/close.png" class="icon" draggable="false">
        </div>
      </div>
    </div>
  </header>
  <webview id="game" src="https://ggreborn.net" autosize="on" style="width:100%;height:100%" plugins></webview>
  <script>
    function extractQuery(param) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(param);
    };

    function loadGame() {
      const gameName = extractQuery('game') || 'website';
      const game_view = document.getElementById('game');
      const base_url = "https://ggreborn.net";
      if (game_view) {
        if (gameName === 'website') {
          game_view.src = base_url;
        } else {
          game_view.src = `${base_url}/${gameName}`;
        };
      };
    };

    let titlebar_height = getComputedStyle(document.documentElement).getPropertyValue('--height');

    function resizeFlashObject() {
      var game = document.getElementById('game');
      var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      var windowHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      game.style.width = windowWidth + 'px';
      game.style.height = windowHeight - titlebar_height.slice(0, -2) + 'px';
    }
    window.addEventListener('resize', function () {
      resizeFlashObject();
    });
    // Initial resizing
    window.onload = loadGame;
    resizeFlashObject();
    require('../renderer/menu_renderer.js')
    require('../renderer/renderer.js')
  </script>
</body>

</html>