<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>App updater</title>
  <link rel="stylesheet" href="../styles/update.css" media="screen" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../../themes/default/theme.css">
</head>

<body>
  <div id="container">
    <img src="../assets/splash.png" id="app-icon">
  </div>
  <p id="update-alert" class="update-text">App updater</p>
  <p id="update-status-text" class="update-text">Downloading update</p>
  <p id="update-status-text" class="update-text">Please don't close the app</p>
</body>

</html>