.ggreborn-title {
    font-family: AtkinsonHyperlegibleMono, "Courier New", Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.8),
        0px 4px 6px rgba(0, 0, 0, 0.5);
    display: inline-block;
    opacity: 0;
    transition: opacity 1s ease-out;
    color: white;
}

#animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-supporters-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(30, 30, 50, 0.2);
    backdrop-filter: blur(10px);
    font-size: 18px;
    display: flex;
    font-weight: bold;
    width: 100%;
    height: 80px;
    transform: translateY(20px);
    animation: fade-in 1s ease-out forwards;
    align-items: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.supporter-name {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 0.5;
}

.project-supporters-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 0.7;
    padding-left: 12px;
    padding-right: 12px;
}

.project-supporters-text.animated {
    background: rgba(25, 25, 45, 1);
}

#about-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(0, 255, 255, 0.2) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    overflow: hidden;
    z-index: -1;
}

#about-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-image: linear-gradient(
            rgba(0, 255, 255, 0.1) 1px,
            transparent 1px
        ),
        linear-gradient(90deg, rgba(0, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: grid_background 7s linear infinite;
}

#crt-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.3) 2px,
        transparent 4px
    );
    pointer-events: none;
    z-index: 1;
    opacity: 0.5;
}

@keyframes grid_background {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -50px);
    }
}
