@font-face {
    font-family: CooperTT_Blk_BT;
    src: url(../assets/fonts/CooperTT_Blk_BT.ttf);
}

/* Height variable */
:root {
    --height: 40px;
}

#titlebar {
    display: block;
    position: fixed;
    height: var(--height);
    width: 100%;
    user-select: none;
}

#titlebar #drag-region {
    -webkit-app-region: drag;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 50px;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    z-index: 1;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(2, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}

#menu-controls {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    /* changed this from 100 to 90 */
    transform: scale(0.8);
    transition: transform 0.08s ease-in-out;
    user-select: none;
}

#menu-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    /* changed this from 100 to 90 */
    transform: scale(0.8);
    transition: transform 0.08s ease-in-out;
    user-select: none;
}

#window-controls .button:hover,
#menu-controls .button:hover {
    transform: scale(1);
    cursor: pointer;
}

#window-controls .button:active,
#menu-controls .button:active {
    transform: scale(1.2)
}

#min-button {
    grid-column: 1;
}

#close-button {
    grid-column: 2;
}

#menu-button {
    grid-column: 1;
}

#game {
    height: calc(100% - var(--height));
    padding-top: var(--height);
}

#menu {
    width: 125px;
    height: 100%;
    top: 40px;
    position: fixed;
    transform-origin: top left;
    border-top-right-radius: 6px;
    left: -30%;
    animation: slide-in 0.3s forwards;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 6px;
}

.menu-item img {
    width: 48px;
    height: 48px;
}

@keyframes slide-in {
    100% {
        left: 0;
    }
}

.menu-item:hover,
.menu-item-small:hover {
    transition: ease-in-out 50ms;
    cursor: pointer;
}

.menu-item:active,
.menu-item-small:active {
    transform: scale(1.01);
}

.menu-item:hover img,
.menu-item-small:hover img {
    transform: scale(1.05)
}

.text {
    font-family: CooperTT_Blk_BT, 'Roboto', 'Segoe UI', sans-serif;
    font-size: 12px;
    margin-left: 6px;
    user-select: none;
    line-height: 16px;
    vertical-align: middle;
}

#menu-others {
    width: 100%;
    position: absolute;
    bottom: 50px;
}

#app-version {
    font-family: 'Roboto', 'Segoe UI', sans-serif !important;
    font-size: 8px;
    position: absolute;
    bottom: 40px;
}

.menu-item-small {
    display: grid;
    padding: 2%;
    margin-top: 5%;
    position: relative;
    /* border-right: 2px solid;
    border-left: 2px solid;
    */
    max-width: 104px;
    height: 32px;
    display: inline-flex;
    border-radius: 6px;
    /*animation: slide-in 0.3s forwards 0.01s;
    left: -100%;
    */
}

.menu-item-small img {
    width: 32px;
    height: 32px;
}

#titlebar-image {
    position: fixed;
    object-fit: cover;
    opacity: 0.3;
    height: 40px;
    width: 100%;
}

input {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
}

#info-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: opacity 2s linear, transform 2s linear;
    opacity: 1;
    transform: translateY(0);
}

.status-bar-container {
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#status-bar {
    height: 5px;
    width: 100%;
    height: 100%;
    transition: width 5s linear;
}