#themes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  max-height: 80vh;
  overflow-y: auto;
}

#theme-item {
  align-items: center;
  padding: 12px;
  width: 100%;
  text-align: center;
  display: flex;
  position: relative;
}

.theme-thumbnail {
  position: relative;
}

.preview {
  position: absolute;
  top: 65px; /* BAD!! not center?*/
  left: 90px; /* BAD!! not center?*/
  opacity: 0.2;
}

.theme:hover .preview {
  opacity: 1;
  transform: scale(1.05);
}

.theme:active .preview {
  opacity: 1;
  transform: scale(1.1);
}

.theme-name {
  font-family: CooperTT_Blk_BT, 'Roboto', 'Segoe UI', sans-serif;
  font-size: 22px;
  user-select: none;
  margin-left: 12px;
  margin-top: 0%;
  margin-bottom: auto;
}

.theme-description {
  font-family: Arial_Rounded_MT_Pro, 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  user-select: none;
  margin-left: 210px;
  margin-bottom: 70px;
  position: absolute;
}

.theme-author {
  font-family: Arial_Rounded_MT_Pro, 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  user-select: none;
  margin-left: 210px;
  margin-bottom: 10px;
  position: absolute;
}

.theme-modified {
  font-family: Arial_Rounded_MT_Pro, 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  user-select: none;
  margin-left: 210px;
  margin-bottom: -50px;
  position: absolute;
}


#theme-buttons {
  font-family: Arial_Rounded_MT_Pro, 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  user-select: none;
  margin-left: 205px;
  margin-top: 140px;
  position: absolute;
}

.use-theme-button,
.edit-theme-button,
.delete-theme-button {
  appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 6px;
  margin-top: -6px;
  padding: 6px;
}

/* button design from github button */
#create-theme-button {
  appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 12px;
  margin-top: 12px;
}

.text {
  font-size: 24px;
  line-height: 24px;
}

#theme-preview-window {
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 8px;
}

#theme-preview-window img {
  max-width: 80%;
  max-height: 80%;
}

#theme-preview-window p {
  margin: 5px;
}

#theme-preview-long-description {
  position: absolute;
  top: 90%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  font-size: 14px;
}

#close-theme-preview {
  position: absolute;
  top: 100%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  font-size: 16px;
}

#close-theme-preview:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
}

#close-theme-preview:active {
  transform: scale(1.2);
}

#blur {
  position: fixed;
  top: 40px;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 2;
  backdrop-filter: blur(5px);
  background-color: #000000;
  opacity: 0.6;
}

#info-box {
  position: absolute;
  z-index: 1;
  width: 100%;
  transition: opacity 2s linear, transform 2s linear;
  opacity: 1;
  transform: translateY(0);
}

.status-bar-container {
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
}

#status-bar {
  height: 5px;
  width: 100%;
  height: 100%;
  transition: width 5s linear;
}
