#update-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

#app-icon {
    width: 90%;
    -webkit-app-region: drag;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    border-radius: 16px;
}

#container {
    position: relative;
    top: 0%;
    left: 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.update-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#update-alert {
    font-size: 24px;
}

#update-status-text {
    font-size: 16px;
}

#update-download-now {
    border-width: 1px;
    border-style: solid;
    margin: 6px;
    text-align: center;
}

#update-download-later {
}

.update-options-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: underline;
}

#progress-bar-container {
    position: relative;
    top: 0;
    left: 0;
}

#progress-bar {
    position: relative;
    width: 200px;
    top: 0;
    left: 0;
}

.progress-bar-preload {
    position: absolute;
    width: 32px;
    top: 25px;
    animation: scale-up 0.5s;
}

@keyframes scale-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#progress-bar-preload-0 {
    left: 75px;
}

#progress-bar-preload-1 {
    left: 115px;
}

#progress-bar-preload-2 {
    left: 155px;
}

#progress-bar-preload-3 {
    left: 195px;
}

